body {
	background-image: url("https://images7.alphacoders.com/843/843678.jpg");
	background-size: cover;
}

#button_container {
	text-align: center;
}

.buttons {
  height: 30px;
  width: 70px;
  background-color: #E91E63;
  border: 1px solid #D81B60;
  border-radius: 2px;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
  opacity: 0.8;
}

.buttons:hover {
  border: 1px solid #c6c6c6;
  opacity: 1;
  color: #222;
}

.buttons:focus {
  outline: 0;
}

.cell {
  background-color: #9C27B0;
  text-align: center;
  height: 15px;
  width: 15px;
  float: left;
}

.cell2 {
  background-color: black;
  text-align: center;
  height: 32px;
  width: 32px;
  float: left;
}

#container {
  max-height: 960px;
  max-width: 960px;
  height: 960px;
  width: 960px;
  float: center;
	margin:0 auto;
}

